*{
    background-color: white;
    color: black;
    font-size: 12pt;
    margin: 0;
    padding: 0;
    width: 100%;

}
aside{
    display: none;
}
img{
    display: none;
}
.icon-bar{
    display: none;
}
